<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>至少现在还是一名程序员，不管再忙还在坚持搬砖。</p>
        <p>喜欢分享，刚开始分享技术，后来也分享生活和故事。</p>
        <p>我是一名北漂，和大多数北漂一样，为了生计而奔波，早上坐一个多小时地铁，加班很频繁，有时候也会怀疑生活是为了啥？</p>
        <p>自从写博客之后我的生活改变很大，以前常常户外活动，现在一年出去两三次。</p>
        <p>我喜欢交朋友，认识很多人，真实情况是，北漂的朋友都很少，有几个好哥们，一年见四五次都跟中彩票一样。</p>
        <p>最喜欢读的一本书是《平凡的世界》，平凡的人生，不平凡的精神。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是纯洁的微笑，一个仍然在路上，向往自由和梦想的人！</p>





        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        </ul>


       <h2>
         Note
       </h2>

        <p>
         <h4>当你老了，回顾一生，就会发觉：什么时候出国读书、什么时候决定做第一份职业、何时选定了对象而恋爱、什么时候结婚，其实都是命运的巨变。只是当时站在三岔路口，眼见风云千樯，你作出抉择的那一日，在日记上，相当沉闷和平凡，当时还以为是生命中普通的一天。但一场巨变，已经发生了，地动山移，浑然不觉，当时是道是寻常。世上的生死荣衰，不就是在空寂之中缘起缘灭的么？</h4>
       </p>



       <h2>
         Donate
       </h2>

       

      <!-- <p align="center">
         <img src="http://www.ityouknow.com/assets/images/tip.jpg" />
         <br/> 
         微信扫一扫
       </p>-->

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>